# Node
node_modules/
npm-debug.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Artifacts
dist_build/
mc-web-panel-*
node-*
*.exe
*.zip
*.tar.gz
*.tar.xz
logo.ico

# Runtime Data
data/
mc_server/
logs/
backups/
runner/
panel.log
config/

# OS
.DS_Store
Thumbs.db